@import './reset.css';

html, body {
    background-color: #303030;
    color: #FFFFFF;
}

body {
    min-width: 320px;
}

#root {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
